<h4 class="center color">Danh sách rạp trung tâm</h4>

<table class="table table-striped table-hover table-bordered border-dark-subtle">
    <thead class="color">
        <tr>
            <th scope="col" *ngFor="let column of columns">{{ column }}</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let cinemaDto of cinemaScheduleService.getList(); let i = index">
            <ng-container *ngIf="(isUpdate && i != cinemaCenterIndexUpdate) || !isUpdate">
                <tr>
                    <td>
                        {{i+1}}
                    </td>

                    <td>
                        {{cinemaDto.cinemaCenter.name}}
                    </td>

                    <td>
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#deleteModal" (click)="setIndexCinemaCenter(i)">
                            <i class="fa fa-times"></i>
                        </button>
                        <button class="btn btn-info marginleft" (click)="setIndexCinemaCenter(i)" (click)="gotoDetailPage()">
                            <i class="fa fa-info-circle"></i>
                        </button>
                        <button class="btn btn-success marginleft" (click)="setIndexCinemaCenterUpdate(i)"
                            (click)="setUpdate()">
                            <i class="fa fa-pencil"></i>
                        </button>
                    </td>
            </ng-container>

            <ng-container *ngIf="isUpdate && i == cinemaCenterIndexUpdate">
                <tr>
                    <td>
                        {{i+1}}
                    </td>
                    <td>
                        <input type="text" [(ngModel)]="cinemaCenterNameUpdate">
                    </td>
                    <td>
                        <button class="btn btn-primary" [disabled]="!isValidCinemaCenterNameUpdate()"
                            (click)="updateCinemaCenter()">
                            <i class="fa fa-check"></i>
                        </button>
                    </td>
                </tr>
            </ng-container>
        </ng-container>
    </tbody>
    <tr>
        <td>
        </td>
        <td>
            <input type="text" [(ngModel)]="cinemaCenterName" placeholder="Tên rạp trung tâm">
        </td>
        <button class="btn btn-primary custom" [disabled]="!isValidCinemaCenterName()" (click)="addCinemaCenter()">
            <i class="fa fa-check"></i>
        </button>
    </tr>
</table>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title" id="deleteModalLabel">Xác nhận xóa</h5>
                <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <i class="fa fa-warning"></i>
                Bạn có chắc chắn muốn xóa?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
                    (click)="deleteCinemaCenter()">Xóa</button>
            </div>
        </div>
    </div>
</div>