<button type="button" style="margin-right: 0px;" class="btn btn-danger left" data-bs-toggle="modal"
    data-bs-target="#deleteModal">
    <i class="fa fa-times"></i>
</button>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title" id="deleteModalLabel">Xác nhận xóa</h5>
                <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <i class="fa fa-warning"></i>
                Bạn có chắc chắn muốn xóa?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="deleteItem()" data-bs-dismiss="modal">Save
                    changes</button>
            </div>
        </div>
    </div>
</div>


<button type="button" class="btn-close text-white"></button>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
    <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="deleteTime()">Xóa</button>
</div>
</div>
</div>
</div>