<form [formGroup]="logInForm" (ngSubmit)="logIn()" >
  <div class="form-group mb-2">
    <label class="form-label bold">Username</label>
    <input
      formControlName="username"
      type="text"
      placeholder="Username"
      class="form-control"
      [ngClass]="{ error: !success ? true : false }"
    />
    <small
      *ngIf="
        logInForm.get('username')?.invalid && !success
      "
      class="text-danger"
      >Username field is required</small
    >
  </div>
  <div class="form-group mb-2">
    <label class="form-label bold">Password</label>
    <input
      formControlName="password"
      type="password"
      placeholder="Password"
      class="form-control"
      [ngClass]="{ error: !success ? true : false }"
    />
    <small
      *ngIf="
        logInForm.get('password')?.invalid && !success
      "
      class="text-danger"
      >Password field is required</small
    >
  </div>
  <button type="submit" class="button mt-4">Log in</button>
  <!-- <div (click)="logIn($event)"  style="cursor: pointer;">
    <p>Log In</p>
  </div> -->
</form>
