<div class="poster-container">
    <div style="display: flex;
                width: 100%; height: 100%;">
        <div class="poster-img">
            <img style="width: 100%; height: 100%;" [src]="movie.urlImage" [alt]="movie.name">

            <div id="hover-screen" (mouseenter)="isHover = true" (mouseleave)="isHover = false"
                [ngClass]="{'hover': isHover}">
                <ng-container *ngIf="isHover">
                    <button class="btn-general" id="btn-play">
                        <img id="arrow-right-img" [src]="arrowRight" alt="right arrow">
                        <div class="text play-text">Play</div>
                    </button>
                    <div id="detail-bar">
                        <div id="movie-name">{{ movie.name }}</div>
                        <button class="btn-general" id="btn-xem-chi-tiet">
                            <div class="text detail-text">Xem chi tiết</div>
                        </button>
                        <button class="btn-general" id="btn-mua-ve">
                            <img id="landline-icon-img" [src]="landlineIcon" alt="landline icon image">
                            <span class="text detail-text">Mua vé</span>
                        </button>
                    </div>
                </ng-container>
            </div>
        </div>

        <div id="T-age-bar">
            <div id="T-age">{{ movie.rating }}</div>
            <div style="background-color: rgb(0, 0, 0);
                        width: 100%; height: 20%;"></div>
        </div>
    </div>
</div>