<div class="container">
    <div *ngIf="form" [formGroup]="form">
        <div class="form-group">
            <label for="id">Id</label>
            <input class="form-control" formControlName="id" name="id" type="text" readonly>
        </div>
        <div class="form-group">
            <label for="name">Name</label>
            <input class="form-control" formControlName="name" name="name" type="text">
        </div>
        <div class="form-group">
            <label for="rating">Rating</label>
            <select class="form-control" formControlName="rating" name="rating">
                <ng-container *ngFor="let rate of rateList">
                    <option [value]="rate">{{ rate }}</option>
                </ng-container>
            </select>
        </div>
        <div class="form-group">
            <label for="releaseDate">Release date</label>
            <input class="form-control" formControlName="releaseDate" name="releaseDate" type="date">
        </div>
        <div class="form-group">
            <label for="runtime">Run time</label>
            <input class="form-control" formControlName="runtime" name="runtime" type="number">
        </div>
        <div class="form-group">
            <label for="genre">Genre</label>
            <input class="form-control" formControlName="genre" name="genre" type="text">
        </div>
        <div>
            <button class="btn btn-primary" [disabled]="form.invalid" (click)="updateItem()">Save</button>
            <button class="btn btn-primary" (click)="resetValues()">Reset</button>
            <button class="btn btn-primary" [routerLink]="[backUrl]">Cancel</button>
        </div>
    </div>
</div>