<div class="container">
    <div *ngIf="form" [formGroup]="form">
        <div class="form-group">
            <label for="name">Name</label>
            <input class="form-control" formControlName="name" name="name" type="text">
        </div>
        <div class="form-group">
            <label for="rating">Rating</label>
            <select class="form-control" formControlName="rating" name="rating">
                <ng-container *ngFor="let rate of rateList">
                    <option [value]="rate">{{ rate }}</option>
                </ng-container>
            </select>
        </div>
        <div class="form-group">
            <label for="releaseDate">Release date</label>
            <input class="form-control" formControlName="releaseDate" name="releaseDate" type="date">
        </div>
        <div class="form-group">
            <label for="runtime">Run time</label>
            <input class="form-control" formControlName="runtime" name="runtime" type="number">
        </div>
        <div class="form-group">
            <label for="genre">Genres</label> <br>
            <ng-container formArrayName="genresForm">
                <ng-container *ngFor="let genre of genresForm.controls; let i = index">
                    <div class="form-check form-check-inline">
                        <input type="checkbox" class="form-check-input" [formControlName]="i">
                        <label class="form-check-label">
                            {{ genreList[i].name }}</label>
                    </div>
                </ng-container>
            </ng-container>
        </div>
        <div class="form-group">
            <label for="anecdote">Anecdote</label>
            <input class="form-control" formControlName="anecdote" name="anecdote" type="text">
        </div>
        <div class="form-group">
            <label for="status">Status</label>
            <select class="form-control" formControlName="status" name="status">
                <option [value]="1">true</option>
                <option [value]="0">false</option>
            </select>
        </div>
        <div class="form-group">
            <label for="urlImage">UrlImage</label>
            <input class="form-control" formControlName="urlImage" name="urlImage" type="text">
        </div>
        <div class="form-group">
            <label for="urlTrailer">UrlTrailer</label>
            <input class="form-control" formControlName="urlTrailer" name="urlTrailer" type="text">
        </div>
        <div>
            <ng-container *ngIf="feature.includes('update')">
                <button class="btn btn-primary" [disabled]="form.invalid" (click)="updateItem()">Save</button>
            </ng-container>
            <ng-container *ngIf="feature.includes('add')">
                <button class="btn btn-primary" [disabled]="form.invalid" (click)="addItem()">Add</button>
            </ng-container>

            <button class="btn btn-primary" (click)="buildForm(item)">Reset</button>
            <button class="btn btn-primary" [routerLink]="[backUrl]">Cancel</button>
        </div>
    </div>
</div>