.account-nav {
  padding-block: 0.3em;
  background-color: #fdfcf0;
}

.item-nav {
  display: inline;
  padding: 0px 10px;
  text-transform: uppercase;
}

.account {
  width: fit-content;
  margin-inline: auto 1em;
}

.account div {
  color: #8B8B88;
}

.account a {
  width: fit-content;
  color: #8B8B88;
  text-decoration: none;
}

.item {
  cursor: pointer;
}

i {
  margin-right: 3px;
}