h1 {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 2px solid black;
    margin-bottom: 25px;
}

h6 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
}

.poster-img {
    margin-top: 10px;
    width: 100%;
    height: 60%;
}

.poster-container {
    width: 200px;
    height: 500px;
    margin: 15px;
    display: inline-block;
}

.bold-text {
    font-weight: bold;
}

.infomation {
    width: 100%;
    height: 40%;
}

p {
    margin: 2px;
    margin-left: 0px;
    font-size: smaller;
}