<div class="container">
  <h3>Nội Dung Phim</h3>

  <div class="movie-detail">
    <img [src]="movie.urlImage" alt="poster image" appZoomImage />
    <div class="details">
      <h4>{{ movie.name }}</h4>
      <div>
        <span class="boldText"> Thể loại: </span>
        <span> {{ getListGenre }} </span>
      </div>
      <div>
        <span class="boldText"> Khởi chiếu: </span>
        <span> {{ movie.releaseDate | date : "dd/MM/yyyy" }} </span>
      </div>
      <div>
        <span class="boldText"> Thời lượng: </span>
        <span> {{ movie.runtime }} phút </span>
      </div>
      <div>
        <span class="boldText"> Đánh giá: </span>
        <span class="boldText"> {{ movie.rating }} {{ getRating }} </span>
      </div>
      <div>
        <app-button-booking [movie]="movie"></app-button-booking>
      </div>
    </div>
  </div>
</div>