.container {
  h3 {
      box-sizing: border-box;
      border-bottom: 2px solid rgb(0, 0, 0);
      padding-top: 20px;
      padding-bottom: 15px;
      font-weight: bold;
  }

  img {
      width: 200px;
      height: auto;
      margin-right: 10px;
      padding-right: 20px;
  }

  .movie-detail {
      padding-top: 15px;
      display: flex;
  }

  h4 {
      border-bottom: 0.1px solid rgb(0, 0, 0);
      width: 906px;
      padding-bottom: 20px;
  }
}

.boldContent {
  font-weight: bold;
}


.details > :last-child {
  margin-top: 1em;
}

.center {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.form-check {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-check-label:first-of-type {
  margin-right: 100px;
}

.form-check-label {
  font-size: 20px;
}

.form-check-input:checked+.form-check-label {
  color: red;
}

.form-check-input[type="radio"] {
  position: absolute;
  opacity: 0;
}

