<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <ng-container *ngFor="let field of fieldList">
                <th style="text-transform: capitalize;">{{ field }}</th>
            </ng-container>
            <th style="width: 9%;"></th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let data of dataList | paginate: { itemsPerPage: 2, currentPage: p }">
            <tr>
                <ng-container *ngFor="let field of fieldList">
                    <td *ngIf="isCheckDate(field)">
                        {{ data[field] | date : "dd/MM/yyyy" }}
                    </td>
                    <td *ngIf="isCheckGenre(field)">
                        {{ getListGenre(data) }}
                    </td>
                    <td *ngIf="isCheckElse(field)">
                        {{ data[field] }}
                    </td>
                </ng-container>

                <td>
                    <app-button-delete (delete)="DeleteItem(data)"></app-button-delete>

                    <button (click)="SeeDetails(data['id'])" type="button" class="btn btn-info">
                        <img [src]="seeDetailsIconImg" alt="See details">
                    </button>

                    <button (click)="UpdateItem(data)" type="button" class="btn btn-warning">
                        <img [src]="editIconImg" alt="Edit">
                    </button>
                </td>
            </tr>
        </ng-container>
    </tbody>
</table>
<pagination-controls (pageChange)="p = $event"></pagination-controls>