td {
    padding: auto 0px;
}

th {
    padding-top: 15px;
    padding-bottom: 15px;
    color: #007bff;
}

thead tr th:last-child,
tbody tr td:last-child {
    min-width: 7em;
    max-width: 7em;
    word-break: break-all;
}

.footer {
    position: absolute;
    left: 450px;
    top: 800px;
}

.fa-info-circle {
    color: white;
}