<table class="table table-striped table-hover table-bordered border-dark-subtle">
    <thead class="color">
        <tr>
            <ng-container *ngFor="let field of fieldList">
                <th scope="col" style="text-transform: capitalize;">{{ field }}</th>
            </ng-container>
            <th scope="col" style="width: 13%;"></th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let data of dataList | paginate: { itemsPerPage: itemsPerP, currentPage: p }; index as i">
            <tr>
                <ng-container *ngFor="let field of fieldList">
                    <td *ngIf="field == 'no.'">
                        {{ i + 1 }}
                    </td>
                    <td *ngIf="isCheckDate(field)">
                        {{ data[field] | date : "dd/MM/yyyy" }}
                    </td>
                    <td *ngIf="isCheckGenre(field)">
                        {{ getListGenre(data) }}
                    </td>
                    <td *ngIf="isCheckElse(field)">
                        {{ data[field] }}
                    </td>
                </ng-container>

                <td>
                    <app-button-delete (delete)="DeleteItem(data)"></app-button-delete>

                    <button type="button" (click)="SeeDetails(data['id'])" class="btn btn-info">
                        <i class="fa fa-info-circle"></i>
                    </button>

                    <button type="button" (click)="UpdateItem(data)" class="btn btn-success left">
                        <i class="fa fa-pencil"></i>
                    </button>
                </td>
            </tr>
        </ng-container>
    </tbody>
</table>

<!-- Button add -->
<button id="btn-add" type="button" (click)="AddItem()" class="btn btn-primary left">
    <i class="fa fa-plus"></i>
</button>

<div class="footer">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>