button {
    width: 30px;
    height: 30px;

    padding-left: 2px;
    padding-right: 2px;
    padding-top: 1px;
    padding-bottom: 1px;
}

img {
    width: 20px;
    height: 20px;
}

td {
    padding: auto 0px;
}

th {
    padding-top: 15px;
    padding-bottom: 15px;
    color: #007bff;
}

.btn-warning {
    width: 30px;
    height: 30px;
    padding: 0px;
}