<div class="modal fade" id="editModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit employee infomation</h5>
            </div>
            <div class="modal-body">
                <div>
                    <label class="form-label">Id</label>
                    <input type="text" class="form-control" [value]="id" disabled>
                </div>
                <div>
                    <label class="form-label">Name</label>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary">Cancel</button>
                <button type="button" class="btn btn-primary">Delete</button>
            </div>
        </div>
    </div>
</div>