<br>
<app-title-display text="Movie selection"></app-title-display>
<div class="container text-center my-3">
    <div class="row mx-auto my-auto justify-content-center">
        <div id="recipeCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <ng-container *ngFor="let item of movieList; index as i">
                    <div [class]="(i === 0) ? 'carousel-item active' : 'carousel-item'">
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-img">
                                    <app-movie-poster [movie]="item"></app-movie-poster>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
            <a class="carousel-control-prev bg-transparent w-aut" href="#recipeCarousel" role="button"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </a>
            <a class="carousel-control-next bg-transparent w-aut" href="#recipeCarousel" role="button"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </a>
        </div>
    </div>
</div>