<h4 class="center color">Danh sách lịch trình</h4>

<span> Rạp trung tâm </span>

<select [(ngModel)]="filterCinemaCenter" (change)="onSelectCinemaCenter()" (click)="resetCinema()">
    <option *ngFor="let option of getCinemaCenterArray" [value]="option">{{ option }}</option>
</select>

<span> Rạp </span>

<select [(ngModel)]="filterCinema" (change)="onSelectCinemaCenter()">
    <option *ngFor="let option of getCinemaArray" [value]="option">{{ option }}</option>
</select>

<table class="table table-striped table-hover table-bordered border-dark-subtle">
    <thead class="color">
        <tr>
            <th scope="col" *ngFor="let column of columns">
                {{ column }}
            </th>
        </tr>
    </thead>

    <ng-container *ngIf="getListMovie.length == 0">
        <p>
            Không tìm thấy lịch trình!
        </p>
    </ng-container>
    <tbody>
        <ng-container *ngFor="let movie of getListMovie; let i = index">
            <tr>
                <td>
                    {{ i + 1 }}
                </td>
                <td>
                    {{ movie.name }}
                </td>
                <td>
                    {{ movie.runtime }} Phút
                </td>
                <td [style.color]="getStatusColor(movie.status)">
                    {{ getStatus(movie.status) }}
                </td>
                <td>
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal"
                        (click)="getMovie(movie)">
                        <i class="fa fa-times"></i>
                    </button>

                    <button class="btn btn-info" (click)="getMovieAndGotoDetailPage(movie)">
                        <i class="fa fa-info-circle"></i>
                    </button>
                </td>
            </tr>
        </ng-container>

        <ng-container *ngIf="showAddRow">
            <tr>
                <td> {{ getListMovie.length + 1 }} </td>
                <td>
                    <select [(ngModel)]="movieTS">
                        <option *ngFor="let option of getListMovieNotExistsInCinemaCenter" [ngValue]="option">
                            {{ option.name }}
                        </option>
                    </select>
                </td>

                <td> {{ movieTS.runtime }} Phút </td>

                <td [style.color]="getStatusColor(movieTS.status)">
                    {{ getStatus(movieTS.status) }}
                </td>

                <td>
                    <button class="btn btn-primary margin" (click)="addSchedule()">
                        <i class="fa fa-check"></i>
                    </button>
                </td>
            </tr>
        </ng-container>

    </tbody>
</table>

<button class="btn btn-success" (click)="addRow()" (click)="onSelectCinemaCenter()">
    <i class="fa fa-plus"></i>
</button>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title" id="deleteModalLabel">Xác nhận xóa</h5>
                <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <i class="fa fa-warning"></i>
                Bạn có chắc chắn muốn xóa?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"> Hủy </button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="deleteSchedule()"> Xóa
                </button>
            </div>
        </div>
    </div>
</div>

<button class="btn btn-primary vertical" routerLink="../../">
    Quay trở về trang chủ
</button>