.btn-info {
    margin-left: 5px;
}

.margin {
    margin-left: 0px;
}

.fa-info-circle {
    color: white;
}

.center {
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

.color {
    color: #007bff;
}

.fa-warning {
    color: red;
}

select {
    font-size: 1rem;
    font-weight: 400;
    color: #212529;
    line-height: 1.5;
    text-align-last: center;
    vertical-align: middle;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    height: calc(1.5em + 0.75rem + 2px);
    width: 220px;
}

option {
    text-align: center;
}