.color {
    color: #007bff;
}

.center {
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

.marginleft {
    margin-left: 5px;
}

.fa-warning {
    color: red;
}

.custom {
    margin-left: 7px;
    width: 86px;
}

input[type="text"] {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    padding: 6px 12px;
    margin-bottom: 10px;
  }