<h4 class="center color">{{cinemaCenterName}}</h4>
<h5>Danh sách rạp trung tâm</h5>

<table class="table table-striped table-hover table-bordered border-dark-subtle">
    <thead class="color">
        <tr>
            <th scope="col" *ngFor="let column of columns">{{ column }}</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let cinema of getListCinema(); let i = index;">
            <ng-container *ngIf="(isUpdate && i != cinemaIndexUpdate) || !isUpdate">
                <tr>
                    <td>
                        {{i + 1}}
                    </td>
    
                    <td>
                        {{cinema.name}}
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal"
                        (click)="setIndexCinema(i)">
                            <i class="fa fa-times"></i>
                        </button>
                        <button class="btn btn-success marginleft" 
                        (click)="setIndexCinema(i)"
                        (click)="setIndexCinemaUpdate(i)"
                        (click)="setUpdate()">
                            <i class="fa fa-pencil"></i>
                        </button>
                    </td>
                </tr>
            </ng-container>

            <ng-container *ngIf="isUpdate && i == cinemaIndexUpdate">
                <tr>
                    <td>
                        {{i+1}}
                    </td>
                    <td>
                        <input type="text" [(ngModel)]="cinemaNameUpdate">
                    </td>
                    <td>
                        <button class="btn btn-primary" (click)="updateCinemaName()" [disabled]="!isValid()">
                            <i class="fa fa-check"></i>
                        </button>
                    </td>
                </tr>
            </ng-container>

        </ng-container>
    </tbody>
    <tr>
        <td>
            {{this.cinemaLst.length + 1}}
        </td>
        <td>
            <input type="text" [(ngModel)]="cinemaName" placeholder="Tên rạp">
        </td>
        <button class="btn btn-primary custom" [disabled]="!isValidAdd()" (click)="addCinema()">
            <i class="fa fa-check"></i>
        </button>
    </tr>
</table>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title" id="deleteModalLabel">Xác nhận xóa</h5>
                <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <i class="fa fa-warning"></i>
                Bạn có chắc chắn muốn xóa?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Xóa</button>
            </div>
        </div>
    </div>
</div>