.btn-select-seat {
  width: fit-content;
  margin-left: 0.6em;
  padding: 0.7em 1.5em;
  background-color: #f37420;
  opacity: 0.5;
  border-radius: 35px 35px 35px 0;
  user-select: none;
}

.btn-select-seat.active {
  opacity: 1;
  cursor: pointer;
}