<ng-container *ngIf="!toggleSeatSelector">
    <div class="overlay"></div>
    <div class="booking-seat">
      <div class="wrapper">
        <div class="screen">SCREEN</div>
        <div class="seat-container">
          <ng-container *ngFor="let seat of seats; let i = index">
            <ng-container [ngSwitch]="seat.type.name">


              <ng-container *ngSwitchCase="'single'">
                <ng-container [ngSwitch]="seat.status">
                  <ng-container
                    *ngSwitchCase="0"
                    [ngStyle]="{ 'left.em': left }"
                  ></ng-container>
                  <div
                    *ngSwitchCase="1"
                    (click)="select($event, i)"
                    class="seat single"
                    [ngStyle]="{
                      'top.em': top,
                      'left.em': left,
                      'width.em': side,
                      'height.em': side
                    }"
                  >
                    {{ seat.name }}
                  </div>
                  <div
                    *ngSwitchCase="2"
                    class="seat single busy"
                    [ngStyle]="{
                      'top.em': top,
                      'left.em': left,
                      'width.em': side,
                      'height.em': side
                    }"
                  >
                    {{ seat.name }}
                  </div>
                </ng-container>
              </ng-container>

              
              <ng-container *ngSwitchCase="'double'">
                <ng-container [ngSwitch]="seat.status">
                  <ng-container
                    *ngSwitchCase="0"
                    [ngStyle]="{ 'left.em': leftDouble }"
                  ></ng-container>
                  <div
                    *ngSwitchCase="1"
                    (click)="select($event, i)"
                    class="seat double"
                    [ngStyle]="{
                      'top.em': top,
                      'left.em': leftDouble,
                      'width.em': sideDouble,
                      'height.em': side
                    }"
                  >
                    {{ seat.name }}
                  </div>
                  <div
                    *ngSwitchCase="2"
                    class="seat double busy"
                    [ngStyle]="{
                      'top.em': top,
                      'left.em': leftDouble,
                      'width.em': sideDouble,
                      'height.em': side
                    }"
                  >
                    {{ seat.name }}
                  </div>
                </ng-container>
              </ng-container>

              <!-- <ng-container
                *ngSwitchCase="'single'"
                [ngTemplateOutlet]="seatSingle"
                [ngTemplateOutletContext]="{
                  index: i,
                  status: seat.status,
                  name: seat.name
                }"
              ></ng-container>
              <ng-container
                *ngSwitchCase="'double'"
                [ngTemplateOutlet]="seatDouble"
                [ngTemplateOutletContext]="{
                  index: i,
                  status: seat.status,
                  name: seat.name
                }"
              ></ng-container> -->


            </ng-container>
            <ng-container *ngIf="(i + 1) % breakPoint == 0">
              <br />
            </ng-container>
          </ng-container>
        </div>
        <div class="btn-option">
          <app-button-back (toggle)="changeToggleCinemaSeat()"></app-button-back>
          <app-button-confirm-booking [allSelected]="bookingSeat == currentSeat" (toggleConfirm)="confirmBooking()"></app-button-confirm-booking>
        </div>
      </div>
    </div>
  </ng-container>
  
  <!-- <ng-template #seatSingle let-index="index" let-status="status" let-name="name">
    <ng-container [ngSwitch]="status">
      <ng-container
        *ngSwitchCase="0"
        [ngStyle]="{ 'left.em': left }"
      ></ng-container>
      <div
        *ngSwitchCase="1"
        (click)="select(index)"
        [ngClass]="{ selected: stateOfSeats[index] }"
        class="seat single"
        [ngStyle]="{
          'top.em': top,
          'left.em': left,
          'width.em': side,
          'height.em': side
        }"
      >
        {{ name }}
      </div>
      <div
        *ngSwitchCase="2"
        class="seat single busy"
        [ngStyle]="{
          'top.em': top,
          'left.em': left,
          'width.em': side,
          'height.em': side
        }"
      >
        {{ name }}
      </div>
    </ng-container>
  </ng-template>
  
  <ng-template #seatDouble let-index="index" let-status="status" let-name="name">
    <ng-container [ngSwitch]="status">
      <ng-container
        *ngSwitchCase="0"
        [ngStyle]="{ 'left.em': leftDouble }"
      ></ng-container>
      <div
        *ngSwitchCase="1"
        (click)="select(index)"
        class="seat double"
        [ngClass]="{ selected: stateOfSeats[index] }"
        [ngStyle]="{
          'top.em': top,
          'left.em': leftDouble,
          'width.em': sideDouble,
          'height.em': side
        }"
      >
        {{ name }}
      </div>
      <div
        *ngSwitchCase="2"
        class="seat double busy"
        [ngStyle]="{
          'top.em': top,
          'left.em': leftDouble,
          'width.em': sideDouble,
          'height.em': side
        }"
      >
        {{ name }}
      </div>
    </ng-container>
  </ng-template> -->
  