.date {
  position: relative;
  padding: 0.25em 0.32em;
  width: 5.2em;
  border: 1.5px solid white;
  border-radius: 4px;
  cursor: pointer;
}

.date:hover {
  border: 0.01rem solid black;
}

.date.active {
  border: 0.01rem solid black;
}

.day {
  position: absolute;
  top: 0.1em;
  right: 0.1em;
  font-size: 32px;
  font-weight: bold;
}
