td {
    padding: auto 0px;
}

th {
    padding-top: 15px;
    padding-bottom: 15px;
    color: #007bff;
}

#btn-add {
    position: relative;
    left: 1025px;
    width: 75px;
}

.footer {
    position: absolute;
    left: 100px;
    top: 450px;
}