.btn-success {
    background-color: rgb(0, 119, 255);
    width: 232px;
}

.btn-primary {
    background-color: rgba(0, 128, 75, 0.863);
}

.btn-danger {
    margin-left: 5px;
}

.center {
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

.color {
    color: #c92254c4;
}

.fa-warning {
    color: red;
}